/* centrare search bar */
.form-inline{
  width: 100%;
  display: flex;
  justify-content: center;
}
/* resize search bar */
  #navBarSearchForm
  {
    width: 318px ;
  }

/* modifica colore icone */
.fa-user   {
  color: #000000;
}
.fa-shopping-cart {
  color: #000000;
}

/* spostare categorie e distanziarle */
#navbarCategorie{

  margin-left: 24px;
}

.nav-item{
  margin-right: 15%;
}
/* gestire altezza carousel/slideshow */
.carousel-inner {

  height: 500px;
}
/* cambia colore testo slide */
.carousel-caption {
  text-transform: uppercase;
  color: #F5F5F5;
}

/* css sezione prodotti random */
/* stile bottone acquista */
.buttonAcquista {
  border-radius: 20px;
  border: 1px solid #9D953B;
  background-color: #F5F5F5;
  color: #9D953B;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;

}
a.buttonAcquista{
  color: #9D953B;

  text-decoration: none;
}
/*stile bottone preferiti */
a.preferiti{

  position: relative;
  left: 15%;
  color: #5C1005;
}


.card-footer{
  background: #F5F5F5;
}
p{
  font-size: 12px;
}
